.about-company {
  display: flex;
  margin: 0 auto;
  max-width: 1220px;

  @media (max-width: 1279px) {
    max-width: 678px;
  }

  @media (max-width: 767px) {
    padding: 25px;
  }
}

.about-company img {
  max-width: none;
  height: 320px;
  margin-right: 100px;
  margin-bottom: 100px;

  @media (max-width: 1279px) {
    margin-top: 14px;
    margin-right: 29px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.about-company__text {
  @media (max-width: 1279px) {
    max-width: 495px;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
  }
}

.about-company h2 {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  letter-spacing: -2px;
  color: #041827;

  @media (max-width: 1279px) {
    max-width: 495px;
    margin-bottom: 12px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 39px;
    letter-spacing: -1.5px;
  }
}

.about-company p {
  margin: 0;
  margin-bottom: 20px;
  font-family: "PT Mono", Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #041827;

  @media (max-width: 1279px) {
    margin-bottom: 18px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.about-company__description-mobile span {
  @media (max-width: 767px) {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.about-company__description-more {
  display: none;

  &.is-active {
    display: block;
  }
}

.about-company__button {
  box-sizing: border-box;
  display: block;
  margin-top: 40px;
  margin-bottom: 120px;
  min-width: 180px;
  min-height: 45px;
  padding: 12px 13px 10px 12px;
  background: none;
  border: 1px solid #00B2ff;
  border-radius: 3px;
  color: #00B2ff;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.6  ;
  }

  @media (max-width: 1279px) {
    margin-bottom: 79px;
    margin-top: 0;
    padding-top: 11px;
    letter-spacing: -1px;
  }

  @media (max-width: 767px) {
    margin-bottom: 55px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: -4px;
    min-width: 160px;
    min-height: 35px;
  }
}
