.contacts ul {
  flex-direction: column;
}

.contacts {
  min-width: 180px;

  @media (max-width: 1023px) {
    max-width: 345px;
    margin-right: 50px;
  }

  @media (max-width: 767px) {
    max-width: none;
    margin-bottom: 35px;
  }
}
