.contacts ul {
  flex-direction: column;
}

.contacts {
  min-width: 180px;

  @media (max-width: 1279px) {
    max-width: 320px;
    margin-right: 50px;
  }

  @media (max-width: 767px) {
    max-width: none;
    margin-bottom: 35px;
  }
}

.contacts p {
  @media (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.contacts li {
  @media (max-width: 1279px) {
    margin-bottom: 4px;
  }

  @media (max-width: 767px) {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 13px;
    }
  }
}
