.contacts ul {
  flex-direction: column;
}

.contacts {
  width: 17.97%;
  min-width: 180px;

  @include vp-1023 {
    width: 41%;
    max-width: 320px;
  }

  @include vp-767 {
    max-width: none;
    margin-bottom: 35px;
  }
}

.contacts p {
  margin-bottom: 21px;

  @include vp-767 {
    margin-bottom: 14px;
  }
}

.contacts li {
  @include vp-1023 {
    margin-bottom: 5px;
  }

  @include vp-767 {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 13px;
    }
  }
}
