.footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 160px;

  @media (max-width: 1279px) {
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 35px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.footer-social__logo {
  width: 215px;
  margin-left: auto;
  margin-bottom: 30px;
  display: flex;

  @media (max-width: 1279px) {
    margin-bottom: 0;
    margin-left: 50px;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
  }
}

.footer-social__logo-text {
  height: 45px;
  align-self: center;
  margin-left: 15px;
}

.footer-social ul {
  display: flex;
  flex-direction: row;

  @media (max-width: 1279px) {
    flex-direction: row;
    margin-top: 10px;
    margin-right: 45px;
  }
}

.footer-social li {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.footer-social__item a {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
}

.footer-social svg {
  width: 40px;
  height: 40px;
  padding: 5px;
}
