.form {
  width: 47.9%;
  margin-left: 120px;
  margin-bottom: 150px;
  margin-top: 165px;
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    width: 100%;
    margin: 0 auto;
  }
}

.form label {
  font-family: "PT Mono", Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.form__contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.form__contacts label {
  width: 47.41%;

  @include vp-1023 {
    width: 47.76%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.form__contacts input {
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  color: #ffffff;

  &::placeholder {
    color: #bebebe;
  }

  @include hover-focus {
    opacity: 0.6;
  }
}

.form textarea {
  width: 100%;
  height: 155px;
  margin-bottom: 28px;
  padding: 0;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  color: #ffffff;

  &::placeholder {
    color: #bebebe;
  }

  @include hover-focus {
    opacity: 0.6;
  }

  @include vp-1023 {
    padding-top: 32px;
    max-width: none;
    height: 155px;
  }

  @include vp-767 {
    margin-bottom: 24px;
    padding-top: 25px;
    height: 180px;
  }
}

.form__confirm {
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    flex-direction: column;
  }
}

.form__confirm button {
  box-sizing: border-box;
  width: 45.7%;
  min-width: 250px;
  height: 45px;
  padding: 15px 25px;
  margin-right: 50px;
  background: #041427;
  border: none;
  border-radius: 3px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: unset;
  }

  @include hover-focus {
    opacity: 0.6;
  }

  @include vp-1023 {
    padding: 17px 25px 13px;
    width: 39.55%;
    margin-right: 85px;
    margin-bottom: 125px;
  }

  @include vp-767 {
    width: 100%;
    padding-top: 15px;
    min-width: 270px;
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.form__confirm label {
  margin-top: 15px;
  display: flex;
  color: #ffffff;
  cursor: pointer;

  @include hover-focus {
    opacity: 0.6;
  }

  @include vp-1023 {
    margin-top: 10px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 88px;
    margin-left: 5px;
  }
}

.form__checkbox p {
  opacity: 0.8;
  font-size: 14px;
  line-height: 16px;
  max-width: 234px;
  margin-bottom: 0;

  @include vp-767 {
    max-width: none;
    width: 100%;
    margin-bottom: 0;
    line-height: 16px;
  }
}

input[type="checkbox"]+.control-mark {
  display: block;
  margin-right: 11px;
  margin-top: 7px;
  width: 15px;
  height: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;

  @include hover-focus {
    opacity: 0.6;
  }
}

input[type="checkbox"]:focus+.control-mark {
  outline: 1px #ffffff solid;
}

input[type="checkbox"]:checked+.control-mark {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    left: 2px;
    top: 3px;
    background: url("../img/sprite/checkbox-active.svg") no-repeat;
  }
}
