.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/background/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #041827;

  @include retina {
    background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/background/background@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #041827;
  }

  @include vp-1023 {
    background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/background/background-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #041827;
    margin-top: 67px;

    @include retina {
      background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/background/background-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #041827;
    }
  }

  @include vp-767 {
    margin-top: 32px;
    padding: 0 25px;
    background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/background/background-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #041827;

    @include retina {
      background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/background/background-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #041827;
    }
  }
}

.intro__block {
  margin-bottom: 250px;

  @include vp-1023 {
    margin-bottom: 175px;
  }

  @include vp-767 {
    margin: 0 auto;
    margin-bottom: 160px;
  }
}

.intro h1 {
  min-width: 970px;
  margin: 0;
  margin-bottom: 31px;
  margin-top: 305px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #f2f5f7;

  @include vp-1023 {
    min-width: 670px;
    margin-top: 113px;
    margin-bottom: 0;
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-767 {
    min-width: 270px;
    margin-top: 118px;
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 42px;
  }
}

.intro p {
  margin-top: 0;
  margin-bottom: 47px;
  display: block;
  max-width: 685px;
  font-family: "PT Mono", Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #F2F5F7;
  text-align: left;

  @include vp-1023 {
    max-width: 670px;
    margin-bottom: 57px;
  }

  @include vp-767 {
    margin-bottom: 44px;
    font-size: 14px;
    line-height: 22px;
  }
}

.intro__button {
  box-sizing: border-box;
  display: block;
  margin-bottom: 30px;
  padding: 15px 25px;
  max-width: 410px;
  min-height: 55px;
  background: #00B2FF;
  border: none;
  border-radius: 3px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #f2f5f7;
  cursor: pointer;

  @include hover-focus {
    opacity: 0.6;
  }

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    margin-left: 0;
    font-size: 14px;
    line-height: 16px;
    max-width: 270px;
    min-height: 40px;
    padding: 12px 30px;
  }
}

.intro__button span {
  &:last-child {
    display: none;
  }

  @include vp-767 {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: block;
    }
  }
}
