.main-nav {
  position: fixed;
  order: 900;
  display: flex;
  margin: 0 auto;
  width: 100%;
  min-height: 120px;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @media (max-width: 1279px) {
    min-height: 100px;
    margin: 0;
  }
}

.main-nav a {
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.main-nav__logo {
  width: 215px;
  height: 55px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 30px;
  margin-right: 160px;

  &:focus {
    outline: 1px #ffffff solid;
  }

  @media (max-width: 1279px) {
    width: 215px;
    height: 55px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 50px;
  }

  @media (max-width: 767px) {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    margin-left: 26px;
  }
}

.main-nav__logo-image {
  align-self: center;
  height: 55px;
}

.main-nav__logo-text {
  height: 45px;
  align-self: center;
  margin-left: 15px;
  vertical-align: middle;

  @media (max-width: 767px) {
    display: none;
  }
}

.main-nav ul {
  height: 80px;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  margin-top: 15px;
  margin-right: 145px;
  padding: 0;

  @media (max-width: 1279px) {
    margin: 0;
    margin-right: 50px;
  }

  @media (max-width: 767px) {
    height: 60px;
    margin-right: 15px;
  }
}

.main-nav li {
  @media (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  @media (max-width: 1279px) {
    margin-right: 20px;
  }
}

.main-nav__contacts {
  display: flex;
  min-width: 225px;
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  color: #f2f5f6;
  min-height: 20px;
  align-items: center;

  & svg {
    margin-right: 15px;
  }

  @media (max-width: 1279px) {
    min-width: 40px;
    min-height: 40px;

    & svg {
      width: 40px;
      height: 40px;
      margin-right: 0;
      padding: 10px;
    }

    & span {
      display: none;
    }
  }
}

.main-nav__button {
  box-sizing: border-box;
  padding: 10px 15px;
  min-width: 160px;
  height: 40px;
  margin-top: -10px;
  margin-right: auto;
  align-self: center;
  background: none;
  border: 1px solid #F2F5F7;
  border-radius: 3px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #f2f5f7;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  @media (max-width: 1279px) {
    display: none;
  }
}
