.products-n-service {
  background-color: #041827;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.products-n-service h2 {
  display: block;
  width: 63.5%;
  margin: 0 auto;
  margin-bottom: 54px;
  padding-top: 65px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;

  @include vp-1023 {
    width: 87%;
    padding-top: 55px;
    margin-bottom: 37px;
  }

  @include vp-767 {
    width: 84.37%;
    padding-top: 47px;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 39px;
  }
}

.products-n-service__header span {
  &:last-child {
    display: none;
  }

  @include vp-767 {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: block;
    }
  }
}

.products-n-service ul {
  list-style: none;
  margin: 0 auto;
  padding: 0 0 140px 0;
  width: 63.54%;
  display: grid;
  grid-template-columns: repeat(3, 28.69%);
  grid-template-rows: 650px;
  gap: 85px;

  @include vp-1023 {
    width: 87%;
    padding-bottom: 76px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 250px);
    gap: 30px;
  }

  @include vp-767 {
    width: 84%;
    max-width: none;
    margin: 0 auto;
    padding-bottom: 86px;
    grid-template-columns: 100%;
  }
}

.products-n-service li {
  position: relative;
  min-width: 240px;
}

.products-n-service .products-n-service__item {
  background-color: #041943;

  &--first-card {
    background-image: url("../img/production/desktop/production-1.jpg");
    background-size: cover;
  }

  &--second-card {
    background-image: url("../img/production/desktop/production-2.jpg");
    background-size: cover;
  }

  &--third-card {
    background-image: url("../img/production/desktop/production-3.jpg");
    background-size: cover;
  }

  @include retina {
    &--first-card {
      background-image: url("../img/production/desktop/production-1@2x.jpg");
      background-size: cover;
    }

    &--second-card {
      background-image: url("../img/production/desktop/production-2@2x.jpg");
      background-size: cover;
    }

    &--third-card {
      background-image: url("../img/production/desktop/production-3@2x.jpg");
      background-size: cover;
    }
  }

  @include vp-1023 {
    &--first-card {
      background-image: url("../img/production/tablet/production-1.jpg");
      background-size: cover;
    }

    &--second-card {
      background-image: url("../img/production/tablet/production-2.jpg");
      background-size: cover;
    }

    &--third-card {
      background-image: url("../img/production/tablet/production-3.jpg");
      background-size: cover;
    }

    @include retina {
      &--first-card {
        background-image: url("../img/production/tablet/production-1@2x.jpg");
        background-size: cover;
      }

      &--second-card {
        background-image: url("../img/production/tablet/production-2@2x.jpg");
        background-size: cover;
      }

      &--third-card {
        background-image: url("../img/production/tablet/production-3@2x.jpg");
        background-size: cover;
      }
    }
  }

  @include vp-767 {
    &--first-card {
      background-image: url("../img/production/mobile/production-1.jpg");
    }

    &--second-card {
      background-image: url("../img/production/mobile/production-2.jpg");
    }

    &--third-card {
      background-image: url("../img/production/mobile/production-3.jpg");
    }

    @include retina {
      &--first-card {
        background-image: url("../img/production/mobile/production-1@2x.jpg");
      }

      &--second-card {
        background-image: url("../img/production/mobile/production-2@2x.jpg");
      }

      &--third-card {
        background-image: url("../img/production/mobile/production-3@2x.jpg");
      }
    }
  }
}

.products-n-service a {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include hover-focus {
    opacity: 0.6;
  }
}

.products-n-service h3 {
  display: block;
  min-height: 55px;
  margin: 0;
  padding: 47px 80px 0 40px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  @include vp-1023 {
    padding: 0;
    padding-top: 38px;
    padding-left: 45px;
  }

  @include vp-767 {
    padding-top: 25px;
    padding-left: 30px;
    font-size: 18px;
  }
}

.products-n-service__list span {
  position: absolute;
  bottom: 0;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #00b2ff;
  align-self: flex-end;
  border-radius: 3px 0 0 0;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }
}

.products-n-service .tablet {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.products-n-service .desktop {
  @include vp-1023 {
    display: none;
  }
}

.products-n-service svg {
  display: block;
  margin: 0 auto;
  margin-top: 26px;
  width: 14px;
  height: 8px;

  @include vp-767 {
    margin-top: 16px;
  }
}
