.products-n-service {
  background-color: #041827;

  @media (max-width: 1279px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: 767px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.products-n-service h2 {
  display: block;
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 70px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;

  @media (max-width: 1279px) {
    letter-spacing: 0.5;
    font-size: 33px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 39px;
  }
}

.products-n-service__header {
  & span:last-child {
    display: none;
  }

  @media (max-width: 767px) {
    & span:first-child {
      display: none;
    }

    & span:last-child {
      display: block;
    }
  }
}

.products-n-service ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 140px;
  max-width: 1220px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 650px;
  gap: 85px;

  @media (max-width: 1279px) {
    padding-bottom: 80px;
    grid-template-columns: 670px;
    grid-template-rows: repeat(3, 250px);
    gap: 30px;
  }

  @media (max-width: 767px) {
    max-width: none;
    margin: 0 auto;
    padding-bottom: 86px;
    grid-template-columns: 270px;
  }
}

.products-n-service .products-n-service__item {
  &--first-card {
    background: url("../img/main-background.jpg") no-repeat -160px;
    background-size: cover;
  }

  &--second-card {
    background: url("../img/main-background.jpg") no-repeat -500px;
    background-size: cover;
  }

  &--third-card {
    background: url("../img/main-background.jpg") no-repeat -840px;
    background-size: cover;
  }

  @media (max-width: 1279px) {
    &--first-card {
      background: url("../img/main-background.jpg") no-repeat -500px -620px;
      background-size: auto;
    }

    &--second-card {
      background: url("../img/main-background.jpg") no-repeat -900px;
      background-size: auto;
    }

    &--third-card {
      background: url("../img/main-background.jpg") no-repeat -240px -400px;
      background-size: auto;
    }
  }
}

.products-n-service a {
  display: flex;
  flex-direction: column;

  &:hover {
    opacity: 0.6;
  }
}

.products-n-service h3 {
  display: block;
  min-height: 55px;
  margin: 0;
  padding: 50px 80px 0 40px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;

  @media (max-width: 1279px) {
    padding: 0;
    padding-top: 40px;
    padding-left: 45px;
  }

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 18px;
  }
}

.products-n-service__list span {
  margin-top: 480px;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #00b2ff;
  align-self: flex-end;
  border-radius: 3px 0px 0px 0px;

  @media (max-width: 1279px) {
    margin-top: 90px;
  }

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
    margin-top: 120px;
  }
}

.products-n-service svg {
  display: block;
  margin: 0 auto;
  margin-top: 26px;
  width: 14px;
  height: 8px;

  @media (max-width: 767px) {
    margin-top: 16px;
  }
}
