.questions {
  display: flex;
  background: url("../img/feedback-background.png") no-repeat 0 -100px;
  background-color: #00b3ff;

  @media (max-width: 1279px) {
    background: none;
    background-color: #00b3ff;
  }

  @media (max-width: 676px) {
    padding: 0 25px;
  }
}

.questions img {
  margin-top: 246px;
  margin-bottom: 309px;
  margin-left: auto;
  margin-right: 115px;

  @media (max-width: 1279px) {
    display: none;
  }
}

.questions h2 {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;

  @media (max-width: 1279px) {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 29px;
    line-height: 42px;
  }
}

.questions p {
  margin: 0;
  margin-bottom: 35px;
  font-family: "PT Mono", Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  @media (max-width: 1279px) {
    margin-bottom: 15px;
  }

  @media (max-width: 767px) {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 19px;
  }
}
