.site-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 27%;
  height: 60%;
  margin-left: 160px;

  @include vp-1023 {
    max-width: 220px;
    margin-left: 50px;
    margin-right: 105px;
  }

  @include vp-767 {
    max-width: none;
    margin: 0;
  }
}

.site-sections ul {
  // flex-direction: row;
  // flex-wrap: wrap;
  width: 46%;
  max-width: 220px;
  height: 60%;
  margin-right: 30px;

  @include vp-1023 {
    max-height: none;
  }

  @include vp-767 {
    max-width: none;
  }
}

.site-sections li {
  display: block;
  width: 46%;
  height: auto;

  @include vp-767 {
    width: none;
  }
}

.site-sections a {
  display: block;
  min-width: 220px;
  height: auto;
}
